li {
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
}
ul {
  margin: 0 px;
  padding: 0 px;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
}

.temperature {
  font-size: 64px;
}
.units {
  position: relative;
  top: -35px;
}
.weather-app {
  border: 1px solid black;
  padding: 30px;
  margin: 30px auto;
  max-width: 70%;
  border-radius: 30px;
}
.icon {
  display: block;
  margin: 0 auto;
}
